.elementor-1533 .elementor-element.elementor-element-2cb7b71{padding:0px 40px 0px 0px;}.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-menu-toggle{margin-left:auto;}.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-85928ca );}.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-276a51a );}.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--dropdown a:hover,
					.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-menu-toggle:hover{color:var( --e-global-color-276a51a );}.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--dropdown a:hover,
					.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--dropdown a.highlighted{background-color:var( --e-global-color-146f302 );}.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--dropdown .elementor-item, .elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Roboto", Sans-serif;font-weight:500;}.elementor-1533 .elementor-element.elementor-element-215edf9{margin-top:0px;margin-bottom:0px;}.elementor-1533 .elementor-element.elementor-element-1165205 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:14px;}.elementor-1533 .elementor-element.elementor-element-298ce8a{text-align:center;}.elementor-1533 .elementor-element.elementor-element-298ce8a .elementor-heading-title{color:#000000;font-family:"Helvetica", Sans-serif;font-size:25px;font-weight:600;text-shadow:0px 0px 4px rgba(0,0,0,0.3);}.elementor-1533 .elementor-element.elementor-element-72c3186{text-align:center;}.elementor-1533 .elementor-element.elementor-element-72c3186 .elementor-heading-title{color:#000000;font-family:"Helvetica", Sans-serif;font-size:15px;font-weight:600;line-height:1.5em;}.elementor-1533 .elementor-element.elementor-element-72c3186 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1533 .elementor-element.elementor-element-950f65f .elementor-repeater-item-c864db5.elementor-social-icon{background-color:#000000;}.elementor-1533 .elementor-element.elementor-element-950f65f .elementor-repeater-item-c864db5.elementor-social-icon i{color:#A1C837;}.elementor-1533 .elementor-element.elementor-element-950f65f .elementor-repeater-item-c864db5.elementor-social-icon svg{fill:#A1C837;}.elementor-1533 .elementor-element.elementor-element-950f65f .elementor-repeater-item-d93d6c0.elementor-social-icon{background-color:#030000;}.elementor-1533 .elementor-element.elementor-element-950f65f .elementor-repeater-item-d93d6c0.elementor-social-icon i{color:#00CCBB;}.elementor-1533 .elementor-element.elementor-element-950f65f .elementor-repeater-item-d93d6c0.elementor-social-icon svg{fill:#00CCBB;}.elementor-1533 .elementor-element.elementor-element-950f65f{--grid-template-columns:repeat(0, auto);--grid-column-gap:5px;--grid-row-gap:0px;}.elementor-1533 .elementor-element.elementor-element-950f65f .elementor-widget-container{text-align:center;}.elementor-1533 .elementor-element.elementor-element-950f65f .elementor-icon{border-radius:-1px -1px -1px -1px;}.elementor-1533 .elementor-element.elementor-element-950f65f > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1533 .elementor-element.elementor-element-9b61caa > .elementor-element-populated{padding:0px 20px 0px 10px;}.elementor-1533 .elementor-element.elementor-element-3d22ea8 .elementor-heading-title{color:var( --e-global-color-39157aa );}.elementor-1533 .elementor-element.elementor-element-3d22ea8 > .elementor-widget-container{padding:10px 0px 0px 0px;}.elementor-1533 .elementor-element.elementor-element-cf959ed .elementor-heading-title{color:#000000;font-family:"Average Sans", Sans-serif;font-weight:600;font-style:normal;line-height:1.4em;}.elementor-1533 .elementor-element.elementor-element-d96625f > .elementor-widget-container{padding:0px 20px 0px 30px;}.elementor-1533 .elementor-element.elementor-element-80f9041 > .elementor-widget-container{padding:0px 20px 0px 30px;}.elementor-1533 .elementor-element.elementor-element-f0458e1 .elementor-heading-title{color:#000000;font-family:"Average Sans", Sans-serif;font-weight:600;font-style:normal;line-height:1.4em;}.elementor-1533 .elementor-element.elementor-element-0f2ebb7 > .elementor-widget-container{padding:0px 20px 0px 30px;}.elementor-1533 .elementor-element.elementor-element-6c15acf .elementor-spacer-inner{height:50px;}.elementor-widget .tippy-tooltip .tippy-content{text-align:center;}@media(min-width:768px){.elementor-1533 .elementor-element.elementor-element-1165205{width:30%;}.elementor-1533 .elementor-element.elementor-element-9b61caa{width:70%;}}@media(max-width:1199px){.elementor-1533 .elementor-element.elementor-element-9612bd3 .elementor-menu-toggle{font-size:25px;}}@media(max-width:767px){.elementor-1533 .elementor-element.elementor-element-9612bd3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}/* Start custom CSS for heading, class: .elementor-element-298ce8a */@media only screen and (max-width: 1224px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-447745d .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
}

@media only screen and (max-width: 764px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-447745d .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-72c3186 */@media only screen and (max-width: 1224px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-f1ba9b6 .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
}
}

@media only screen and (max-width: 1050px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-f1ba9b6 .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5em;
}
}

@media only screen and (max-width: 850px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-f1ba9b6 .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5em;
}
}
@media only screen and (max-width: 740px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-f1ba9b6 .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5em;
}
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-950f65f */@media only screen and (max-width: 1224px) {
  /* For mobile phones: */
.elementor-icon.elementor-social-icon {
    font-size: var(--icon-size,12px);
    line-height: var(--icon-size,25px);
    width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
    height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
}
}

@media only screen and (max-width: 764px) {
  /* For mobile phones: */
.elementor-icon.elementor-social-icon {
    font-size: var(--icon-size,20px);
    line-height: var(--icon-size,25px);
    width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
    height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
}
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-d96625f */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-80f9041 */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-0f2ebb7 */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */