.elementor-1569 .elementor-element.elementor-element-614b882{padding:0px 40px 0px 0px;}.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-menu-toggle{margin-left:auto;}.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-85928ca );}.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--main .elementor-item:hover,
					.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-276a51a );}.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--dropdown a:hover,
					.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--dropdown a.highlighted,
					.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-menu-toggle:hover{color:var( --e-global-color-276a51a );}.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--dropdown a:hover,
					.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--dropdown a.highlighted{background-color:var( --e-global-color-146f302 );}.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--dropdown .elementor-item, .elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Roboto", Sans-serif;font-weight:500;}.elementor-1569 .elementor-element.elementor-element-215edf9{margin-top:0px;margin-bottom:0px;}.elementor-1569 .elementor-element.elementor-element-3a3a2c5 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:14px;}.elementor-1569 .elementor-element.elementor-element-ebdf145{text-align:center;}.elementor-1569 .elementor-element.elementor-element-ebdf145 .elementor-heading-title{color:#000000;font-family:"Helvetica", Sans-serif;font-size:25px;font-weight:600;text-shadow:0px 0px 4px rgba(0,0,0,0.3);}.elementor-1569 .elementor-element.elementor-element-d87f0d9{text-align:center;}.elementor-1569 .elementor-element.elementor-element-d87f0d9 .elementor-heading-title{color:#000000;font-family:"Helvetica", Sans-serif;font-size:15px;font-weight:600;line-height:1.5em;}.elementor-1569 .elementor-element.elementor-element-d87f0d9 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1569 .elementor-element.elementor-element-73aba01 .elementor-repeater-item-c864db5.elementor-social-icon{background-color:#000000;}.elementor-1569 .elementor-element.elementor-element-73aba01 .elementor-repeater-item-c864db5.elementor-social-icon i{color:#A1C837;}.elementor-1569 .elementor-element.elementor-element-73aba01 .elementor-repeater-item-c864db5.elementor-social-icon svg{fill:#A1C837;}.elementor-1569 .elementor-element.elementor-element-73aba01 .elementor-repeater-item-d93d6c0.elementor-social-icon{background-color:#030000;}.elementor-1569 .elementor-element.elementor-element-73aba01 .elementor-repeater-item-d93d6c0.elementor-social-icon i{color:#00CCBB;}.elementor-1569 .elementor-element.elementor-element-73aba01 .elementor-repeater-item-d93d6c0.elementor-social-icon svg{fill:#00CCBB;}.elementor-1569 .elementor-element.elementor-element-73aba01{--grid-template-columns:repeat(0, auto);--grid-column-gap:5px;--grid-row-gap:0px;}.elementor-1569 .elementor-element.elementor-element-73aba01 .elementor-widget-container{text-align:center;}.elementor-1569 .elementor-element.elementor-element-73aba01 .elementor-icon{border-radius:-1px -1px -1px -1px;}.elementor-1569 .elementor-element.elementor-element-73aba01 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1569 .elementor-element.elementor-element-9b61caa > .elementor-element-populated{padding:0px 20px 0px 10px;}.elementor-1569 .elementor-element.elementor-element-3d22ea8 .elementor-heading-title{color:var( --e-global-color-39157aa );}.elementor-1569 .elementor-element.elementor-element-3d22ea8 > .elementor-widget-container{padding:10px 0px 0px 0px;}.elementor-1569 .elementor-element.elementor-element-cf959ed .elementor-heading-title{color:#000000;font-family:"Average Sans", Sans-serif;font-weight:600;font-style:normal;line-height:1.4em;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-1569 .elementor-element.elementor-element-993f042{font-family:"Fira Sans", Sans-serif;font-size:11px;font-weight:400;line-height:1.9em;}.elementor-1569 .elementor-element.elementor-element-993f042 > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-1569 .elementor-element.elementor-element-379558d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1569 .elementor-element.elementor-element-a48a947 .bdt-toggler-poster{min-height:300px;}.elementor-1569 .elementor-element.elementor-element-3c99c64 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1569 .elementor-element.elementor-element-6578aa8{font-family:"Fira Sans", Sans-serif;font-size:11px;font-weight:400;line-height:1.9em;}.elementor-1569 .elementor-element.elementor-element-6578aa8 > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-1569 .elementor-element.elementor-element-e465fbb > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1569 .elementor-element.elementor-element-26ddb54 .bdt-toggler-poster{min-height:300px;}.elementor-1569 .elementor-element.elementor-element-dd90fc3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1569 .elementor-element.elementor-element-73786ac{font-family:"Fira Sans", Sans-serif;font-size:11px;font-weight:400;line-height:1.9em;}.elementor-1569 .elementor-element.elementor-element-73786ac > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-1569 .elementor-element.elementor-element-3915ea4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1569 .elementor-element.elementor-element-2dfde8c .bdt-toggler-poster{min-height:300px;}.elementor-1569 .elementor-element.elementor-element-6fcfcef > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1569 .elementor-element.elementor-element-664a7d2{font-family:"Fira Sans", Sans-serif;font-size:11px;font-weight:400;line-height:1.9em;}.elementor-1569 .elementor-element.elementor-element-664a7d2 > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-1569 .elementor-element.elementor-element-b377499 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1569 .elementor-element.elementor-element-aa23a24{font-family:"Fira Sans", Sans-serif;font-size:11px;font-weight:400;line-height:1.9em;}.elementor-1569 .elementor-element.elementor-element-aa23a24 > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-1569 .elementor-element.elementor-element-92f9afa > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1569 .elementor-element.elementor-element-a5318e2 .elementor-spacer-inner{height:50px;}.elementor-1569 .elementor-element.elementor-element-a9fdae8 .elementor-heading-title{color:#000000;font-family:"Average Sans", Sans-serif;font-weight:600;font-style:normal;line-height:1.4em;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-1569 .elementor-element.elementor-element-18dfd1d{font-family:"Fira Sans", Sans-serif;font-size:11px;font-weight:400;line-height:1.9em;}.elementor-1569 .elementor-element.elementor-element-18dfd1d > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-1569 .elementor-element.elementor-element-c234672 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1569 .elementor-element.elementor-element-0ad941a .bdt-toggler-poster{min-height:300px;}.elementor-1569 .elementor-element.elementor-element-320b95f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1569 .elementor-element.elementor-element-c7f0cdc{font-family:"Fira Sans", Sans-serif;font-size:11px;font-weight:400;line-height:1.9em;}.elementor-1569 .elementor-element.elementor-element-c7f0cdc > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-1569 .elementor-element.elementor-element-bf8f6be > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1569 .elementor-element.elementor-element-21e6b2b .bdt-toggler-poster{min-height:300px;}.elementor-1569 .elementor-element.elementor-element-dda8b48 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1569 .elementor-element.elementor-element-fc4f68b .elementor-spacer-inner{height:50px;}.elementor-1569 .elementor-element.elementor-element-7b8cf22 .elementor-heading-title{color:#000000;font-family:"Roboto", Sans-serif;font-weight:600;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-1569 .elementor-element.elementor-element-13cf000{font-family:"Fira Sans", Sans-serif;font-size:11px;font-weight:400;line-height:1.9em;}.elementor-1569 .elementor-element.elementor-element-13cf000 > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-1569 .elementor-element.elementor-element-8c5e2cd > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1569 .elementor-element.elementor-element-becfaa4 .bdt-toggler-poster{min-height:300px;}.elementor-1569 .elementor-element.elementor-element-f713298 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1569 .elementor-element.elementor-element-d0ec8a6 .elementor-spacer-inner{height:50px;}.elementor-widget .tippy-tooltip .tippy-content{text-align:center;}@media(min-width:768px){.elementor-1569 .elementor-element.elementor-element-3a3a2c5{width:30%;}.elementor-1569 .elementor-element.elementor-element-9b61caa{width:70%;}.elementor-1569 .elementor-element.elementor-element-e20538c{width:59.817%;}.elementor-1569 .elementor-element.elementor-element-379558d{width:40%;}.elementor-1569 .elementor-element.elementor-element-5f95a46{width:59.817%;}.elementor-1569 .elementor-element.elementor-element-e465fbb{width:40%;}.elementor-1569 .elementor-element.elementor-element-6b33866{width:59.817%;}.elementor-1569 .elementor-element.elementor-element-3915ea4{width:40%;}.elementor-1569 .elementor-element.elementor-element-18b0443{width:59.817%;}.elementor-1569 .elementor-element.elementor-element-b377499{width:40%;}.elementor-1569 .elementor-element.elementor-element-e9c4b0f{width:59.817%;}.elementor-1569 .elementor-element.elementor-element-92f9afa{width:40%;}.elementor-1569 .elementor-element.elementor-element-48dc87d{width:59.817%;}.elementor-1569 .elementor-element.elementor-element-c234672{width:40%;}.elementor-1569 .elementor-element.elementor-element-8a55460{width:59.817%;}.elementor-1569 .elementor-element.elementor-element-bf8f6be{width:40%;}.elementor-1569 .elementor-element.elementor-element-f7a1e9c{width:59.817%;}.elementor-1569 .elementor-element.elementor-element-8c5e2cd{width:40%;}}@media(max-width:1199px){.elementor-1569 .elementor-element.elementor-element-b929d5a .elementor-menu-toggle{font-size:25px;}}@media(max-width:767px){.elementor-1569 .elementor-element.elementor-element-b929d5a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}/* Start custom CSS for heading, class: .elementor-element-ebdf145 */@media only screen and (max-width: 1224px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-447745d .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
}

@media only screen and (max-width: 764px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-447745d .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-d87f0d9 */@media only screen and (max-width: 1224px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-f1ba9b6 .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
}
}

@media only screen and (max-width: 1050px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-f1ba9b6 .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5em;
}
}

@media only screen and (max-width: 850px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-f1ba9b6 .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5em;
}
}
@media only screen and (max-width: 740px) {
  /* For mobile phones: */
.elementor-1734 .elementor-element.elementor-element-f1ba9b6 .elementor-heading-title {
    color: #000000;
    font-family: "Helvetica", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5em;
}
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-73aba01 */@media only screen and (max-width: 1224px) {
  /* For mobile phones: */
.elementor-icon.elementor-social-icon {
    font-size: var(--icon-size,12px);
    line-height: var(--icon-size,25px);
    width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
    height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
}
}

@media only screen and (max-width: 764px) {
  /* For mobile phones: */
.elementor-icon.elementor-social-icon {
    font-size: var(--icon-size,20px);
    line-height: var(--icon-size,25px);
    width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
    height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));
}
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-993f042 */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */
/* Start custom CSS for lightbox, class: .elementor-element-a48a947 */.elementor-1569 .elementor-element.elementor-element-a48a947 .bdt-toggler-poster {
    min-height: 200px !important; 
    width: 260px;
    height: 200px;
    margin: auto;
    width: auto\9;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6578aa8 */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */
/* Start custom CSS for lightbox, class: .elementor-element-26ddb54 */.elementor-1569 .elementor-element.elementor-element-26ddb54 .bdt-toggler-poster {
    min-height: 200px !important; 
    width: 260px;
    height: 200px;
    margin: auto;
    width: auto\9;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-73786ac */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */
/* Start custom CSS for lightbox, class: .elementor-element-2dfde8c */.elementor-1569 .elementor-element.elementor-element-2dfde8c .bdt-toggler-poster {
    min-height: 200px !important; 
    width: 260px;
    height: 200px;
    margin: auto;
    width: auto\9;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-664a7d2 */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-aa23a24 */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-18dfd1d */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */
/* Start custom CSS for lightbox, class: .elementor-element-0ad941a */.elementor-1569 .elementor-element.elementor-element-0ad941a .bdt-toggler-poster {
    min-height: 200px !important; 
    width: 260px;
    height: 200px;
    margin: auto;
    width: auto\9;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-c7f0cdc */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */
/* Start custom CSS for lightbox, class: .elementor-element-21e6b2b */.elementor-1569 .elementor-element.elementor-element-21e6b2b .bdt-toggler-poster {
    min-height: 200px !important; 
    width: 260px;
    height: 200px;
    margin: auto;
    width: auto\9;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-13cf000 */p {
    /* margin: 0 0 20px; */
    font-size: 18px;
    line-height: 1.2;
}/* End custom CSS */
/* Start custom CSS for lightbox, class: .elementor-element-becfaa4 */.elementor-1569 .elementor-element.elementor-element-becfaa4 .bdt-toggler-poster {
    min-height: 200px !important; 
    width: 260px;
    height: 200px;
    margin: auto;
    width: auto\9;
}/* End custom CSS */